*{
   box-sizing: border-box; 
    margin: 0; 
}

 body {
    width:100%;
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color:white;
}

html {
    font-family: "helvetica neue", sans-serif;
}

#wrapper{ 
	display:block; 
    margin:0; 
    overflow: hidden;
}

#content{ 
    display:block; 
}

main{
    display: block;
}
.container{
    width: 100%;
}
.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.83);
    box-shadow: 0px 29px 24px rgba(0, 0, 0, 0.28);
    text-align: right;
    height:70px;
    line-height:70px; 
    z-index: 7;
}


/* Toggle NAVBAR with no Javascript 
################### */
.menu {
    margin: 0 30px 0 0;
    overflow: auto;
    position: relative; /* <-- Added */ 
    z-index: 1; /* <-- Added  -puts over */
}
#toggle:checked + .menu {
    display: block;
    z-index: 6;
}

.menu a {
    clear:right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
    font-size: 1.8em;
    top:2px;
}

span {
    color:#ff7b00;
}

a:hover{
    color: #ff7b00;
}

label {
    margin: 0 40px 0 0;
    font-size: 2.4em;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: white;
}

#toggle {
    display: none; 
}

.home-hero {
    background-image: url("./images/build.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    height:100vh;
  }
  
  .home-textbox {
    position: absolute;
    width: 550px;
    height: 75vh;
    margin: 0 auto;
    top: 18%;
    left: 3%;
    display: flex;
    background: rgba(0, 0, 0, 0.65);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;   
    z-index: 5;
  }

  .home-title{
      position: absolute;
  }

  /* footer
############### */

footer{
    position: absolute;
    display:-webkit-inline-box;
    margin: 3em auto;
    font-weight: 300;
    width: 100%;
}

footer p{
    margin:1rem auto;
}
.footer-title{
    font-size: 2.5vw;
}
.footer-news{
    margin: 0em 0 0 1.5em;
    font-size: 2.5vw;
}

ul{
    font-size: 1.5vw;
    font-weight: 700;
    margin-left:3.5em;
    left: 0%;
    padding: 0;

}

ul p{
    position: relative;
    font-size: 1.2rem;
    font-weight: 100;
    width: 15em;
    display: inline-flex;
    right: 10%;
    margin-bottom: 10px;
}

li{
    display: table;
    font-weight: 300;
    line-height: 4em;
}

#news-sub{
    background-color: transparent;
    border:1px solid white;
    padding: 1em 0px 5px;
    width: 16vw;
    color: white;
    font-size:1em;
    margin: 2em 0 0 1.5em;
}

#news-sub::placeholder{
    font-size: 1.5vw;
}

#Subscribe{
    font-size: 1.2vw;
    margin: 5px auto;
    margin: .4em;
    width: 19em;
    text-align:-webkit-center;
}

    /* Cards
  ################ */
  
  .container2{
    position: absolute;
    height: 100vh;
    width: 550px;
    right: 0%;
    top: 0px;
    width:100%;
    overflow: hidden;
   
  }
  .box{
      position: absolute;
  }

.product{

}
  .card{  
      display: block;
  }

  #sale{
    margin: 0;
    right: 0%;
    top: 19%;
    font-size: 6em;
    line-height: 100%;
    color: #ff1f1fd9;
    transform: rotate(32.92deg);
}

  .first{
    transform: translate(-50%, -50%, 40px);
    z-index:4;
    top: 12%;
    right: 14%;
 }
    .second{
    transform: translate(-50%, -50%, 30px);
    z-index:3;
    right:18%;
    top:16vh;
    position: absolute;
 }

 .third{
    transform: translate(-50%, -50%, 20px);
    z-index:2;
    right:-6%;
    top:15vh;
    position: absolute;
}

 /* Grid
  ################ */

  .grid{
    position:relative;
    display:flex;
    flex-flow:column wrap;
    width:100%;
    height:50em;
    border:2px solid black;
    overflow: hidden;
}

.green{
    background-image:url(./images/gird1img.jpg);
    background-size: cover;
    overflow: hidden;
}
.yellow{
    background:#FF9900;
    overflow: hidden;
}
.red{
    background-image: url(./images/grid2img.jpg);
    background-size: cover;
    background-position: center;
}

.col1{width:40%;height:100%; overflow: hidden;}
.col2{width:60%;height:50%; overflow: hidden;}

#img-side{
    position: absolute;
    bottom: 15%;
    width: 45vw;
    left:-10%;
}

#img-side2{
    position: absolute;
    right: 0%;
    width: 45vw;
    top:2%;
}


  /* Typography
  ################ */

  h2 {
    font-size: 14vh;
    margin-bottom: 10px;
    margin-top: 20px;
    margin:;
    color:white;
    font-weight: 800;
  }

  p {
    font-style: italic;
    font-weight: normal;
    line-height: 212%;
    /* or 64px */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-size: 4vh;
  }

  h3 {

    font-weight: 800;
    font-size: 4em;
    float: left;
    position: absolute;
    margin: .3rem 10px;
    line-height: 100%;
  }

 .h1{
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    /* Warning: no fallback */
    color: #232d2d;
	font-size: 47px;
    font-family: Poppins;
    font-style: italic;
    font-weight: bold;
    line-height: 137px;
    letter-spacing: .5em;
    /* identical to box height */
    
    
    color: rgba(0, 0, 0, 0.71);
    
    backdrop-filter: blur(28px);
  }

  #disable-highlight{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  /* link & buttons
   ################ */

  .logo {
      float:left;
      color: white;
  }

  a{
    text-decoration: none;
    letter-spacing: .015em;
    cursor: pointer;
}

.button {
    background-color: #AC5A5A;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 800;
    position: static;
    font-size: 3.5vh;
    padding: 10px 25px;
    letter-spacing: .1em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.685);
    margin: 0px 10px 20px;
}

.header{
    background-color: black;
    height: 25vh;
    width: 100%;
}



/* SVG text
############### */
#nav-svg{
    margin: -9px 5px;
    width: 1.5em;
    color: white;
}
#svg {
    margin: 5vw auto;
    width: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: center;
}

#svg2 {
    margin: 70px auto;
    padding: 10px;
    left: 0%;
    position: absolute;
    font-size: 8vw;
}

#svg3 {
    position: absolute;
    margin: 70px auto;
    padding: 10px;
    left: 50%;
    font-size: 8vw;
}


@media only screen and (min-width:1220px) {
    .bk{
        display: none;
    }
#bk1{
    display: none;
}
#bk2{
    display: none;
}
}

@media only screen and (max-width:1220px) {

    .third{
        visibility: hidden;

    }

    .first{
    right:0;
    justify-content: flex-end;
    }
    

}

@media only screen and (max-width:1360px) {

    .second{
        visibility: hidden;
    }
    .bk{
        position: absolute;
        right: 0%;
        top: 0.2%;
        z-index: -1;
    }
    #bk2{
        display:flex !important;
        position: absolute;
        right: 0%;
        top: 0.2%;
        z-index: -1;
    }
  
}

@media only screen and (max-width:1071px) {
    .first{
        visibility: hidden;
    }

}



@media only screen and (max-width:1070px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;  
        
                                        
    }
    .menu a {
        display:block;
        margin:0;
        background-color:rgb(6 6 6 / 0.94);;
    }
    #toggle:checked + .menu {
        display: block;
        z-index: 6;
    }

    .logo {
        position: relative;
        color: white;
    }

    .logo1 h2::after {
        color: white;
        content: "Profile";
        
    }

    h2 {
        color: white;
        font-weight: 800;
      }

      
.home-hero {
    height: 100vh;
    background-image: url("./images/build.jpg");
    background-size: cover;
    background-position: center;
  }

      p {
        font-family: Poppins;
        font-style: italic;
        font-weight: normal;
        line-height: 212%;
        /* or 64px */
        overflow: auto;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        font-size:4vh;
      }

      #Subscribe{
        position: relative;
        font-size: 1.4vw;
        font-weight: 100;
        text-align:-webkit-center;
      }

    .home-textbox {
    width:90vw;
    height:75vh;
    display: inline-flex;
      }

    .header{
        visibility: hidden;
    }

    img{
        position: absolute;
    }

    .card{
        visibility: hidden;
    }

    #wrapper{ 
        display: contents; 
        margin:0; 
    } 
    #content{ 
        display: ;
    }
    
}


@media only screen and (max-width:490px) {
    .home-hero {
        height: 100vh;
      }
      
    h2{
        font-size: 3em;
    }

    .home-textbox {
        width:90vw;
        height:75vh;
        display: inline-flex;
          }

    .button {
        font-size: 2vh;
        margin: 0px 1px 2vh;
    }
    
    #news-sub{
        padding: 0.5em 0 7px 6px;

    }

    #Subscribe{
        position: relative;
        font-size: 1.4vw;
        font-weight: 100;
        width: 20em;
        text-align:-webkit-center;
        margin: 1em;
      }
}
